SECRET_KEY=django-insecure-change-this-in-production-super-secret-key-12345
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=old_book_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/2

PLATFORM_COMMISSION_PERCENT=15.0
ESCROW_HOLD_DAYS=3

SSLCOMMERZ_STORE_ID=testbox
SSLCOMMERZ_STORE_PASSWORD=qwerty
SSLCOMMERZ_IS_SANDBOX=True
